body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(to top, #5000b8, #ac6dff);
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 500;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #a8a8a8;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
